 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

$font: 'Press Start 2P', cursive;
// Custom Styles
body {
  padding: 5px;
  background-color: hsla(24,56%,60%,1);
}
.container {

  margin: 0 auto;
  width: 75%;
  background-color: hsla(24,60%,50%,1);
  font-family: $font;
}


// Header Styles

header {
  height: 85px;
  margin-left: 35px;

  img{
    width: 85px;
  }
  span {
  font-weight: bold;
  font-size: 14px;
  display: block;
  margin-left: 99px;
  margin-top: -46px;
  }
  button {
    float: right;
    margin-right: 34px;
    margin-top: -26px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
      &:hover {
        color: hsla(240,1%,81%,1);
        background-color: hsla(354,63%,32%,1);

      }

  }
}



//Stat bar styles

.playing_field {
 width: 100%;
 height: 537px;
 display: block;
 padding: 14px;
 background-image:url("http://f.cl.ly/items/2d2c0u2Z1d0T30143e1h/ku-xlarge955.png") ;
}

    p{
      color: white;
      font-weight: bold;
    }



.player_1 {
  float: left;
  font-size: 15px;

  .name1 {
  background-color: hsla(354,63%,32%,1);

  }
 }


.player_2 {
  float: right;
  font-size: 15px;
  /* position: absolute; */
    .name2 {
    background-color: hsla(354,63%,32%,1);

    }
}

button {
text-align: center;
vertical-align: middle;
line-height: 30px;
font-size: 14px;
    &:hover {
      color: hsla(240,1%,81%,1);
      background-color: hsla(354,63%,32%,1);
     }
}
