<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>The IRON BOTS</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

<div class="container">

  <header>
  <img src="http://f.cl.ly/items/1K240G3i0G3u252O2p2P/Iron-Yardlogo.png" ><span>The Game of Games</span>

  <a href="#openModal"><button class ="welcome">START</button></a>

<div id="openModal" class="modalDialog">
	<div>

		<a href="#close" title="Close" class="close">X</a>

		<h2>Welcome To "The Iron Bots"</h2>
    <h3> 'The Battle of Staff'</h3>

  <h4>Player 1:</h4>
<div class="fill">
      <button class="tim" name="1" data-image="http://f.cl.ly/items/1o051I2V0j3S0a361G3d/timfinal.png">Tim</button>
      <button  class="james" name="2">James</button>
      <button class="jo" name="3">Jo</button>
      </div>
      <br>
      <br>

      <h4>Player 2:</h4>
      <br>
      <div class="fill2">
      <button class="sarah" name="4">Sarah</button>
      <button  class="john" name="5">John</button>
      <button class="linda" name="6">Linda</button>
       </div>

      </div>
  </div>
</header>



  <div class="playing_field">

    <div class="fight">
         <button class="attackbtn">Attack <span class="bgname"></span> </button>
        <p class="name1 "> <span class="n1health"></span></p>
        <p class="name2 "> <span class="n2health"></span></p>
        <br>

      </div>

    <div class="fightstage">
      <div class="stageleft">
        <img src="http://f.cl.ly/items/1o051I2V0j3S0a361G3d/timfinal.png" alt="">
      </div>
      <div class="stageright">
        <img src="http://f.cl.ly/items/061t441g3e3C2W2W2B3k/sarahfinal.png" alt="">
      </div>
    </div>




  </div><!-- playing_field end-->

</div> <!-- container end-->
<script type="text/template">
      <p><%= name %></p>
      <p><%= name %></p>

    </script>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
